body{
    margin: 0;
    padding:0;
    }

.header{
    background-color: black;
    border-bottom: 3px solid #32b9cd;
    }

.container{
    display: flex;
    width: 80%;
    margin: auto;
    }

.titulo{
    color: #32b9cd;
    font-weight: 500;
    }

.header .container{
    justify-content: space-between;
}

.navbar{
    display: flex;
    width: 280px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
                    /* banner */

.banner{                        
    background-image: url('../img/bg-jelly-fish-para_outras_pags.png');
}

.banner .container{
    height: 500px;
    justify-content: center;
    align-items: center;
}

.banner p{
    width: 280px;
    font-size: 36px;
    color: white;
}

.banner span{
    font-weight: 800;
}
                           /* boxes */
.social{
    background-color: #e5e5e5;
}

.boxes {
    display: flex;
    padding: 50px 0;
    gap: 8px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items:center ;

}
.box img{
    width: 170px;
}


.navbar a, .navbar li{
    color: #e3b062;
}